.canvas{
        position: absolute;
        top: 25%;
        left: 15%;
        background: lightblue;
        border-width: thick;
        border-style: solid;
    }
    
    .d3-tip{
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        line-height: 1;
        padding: 7px;
        border: 4px;
        line-height: 1.6rem;
        width: 26%;
        background: khaki;
        border-width: medium;
        border-style: solid;
    }

/*#rom{
    position: absolute;
    left: 180%;
    top: 15%;
}*/